* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 320px;
}

body {
  font-family: "Quicksand", Monospace;
  height: 100vh;
  overflow: hidden;
}

.nav {
  margin: 30px 0;
  text-align: center;
  /*background-color: yellow;*/
}

.nav a {
  text-decoration: none;
}

.catchphrase {
  margin: 15% auto;
  text-align: justify;
}

span {
  /*text-shadow: 2px 2px #00e5ee;*/
  text-shadow: 2px 2px #dcdcdc;
}

span a {
  color: black;
}
