* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 320px;
}

body {
  font-family: "Quicksand", Monospace;
  height: 100vh;
  overflow: scroll;
  background-color: ghostwhite;
}

.nav {
  margin: 30px 0;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #000011;
  text-shadow: 2px 1px #dcdcdc;
}

.nav a:hover {
  text-decoration: underline;
}

.catchphrase, .projects-me, .contact-me {
  margin: 10% auto;
  text-align: justify;
}

.about-me {
  margin: 3% 3%;
  text-align: justify;
  background-color: rgba( 220, 220, 220, 0.35 );
  border-radius: 25px;
  padding: 15px 25px;
}

.about-me p {
  font-size: 20px;
}

b {
  text-shadow: 0.16rem -0.16rem 0 rgba( 255, 0, 255, 0.75),
               -0.16rem -0.16rem 0 rgba( 0, 255, 255, 0.75),
               0 0.2rem 0 rgba( 255, 255, 0, 0.75);
  font-size: 22px;
}

span a {
  color: black;
}

.contact-me-mail, .contact-me-linkedin, .contact-me-twitter, .contact-me-github {
  padding: 3px;
  text-align: center;
}

.about-title, .projects-title, .contact-title {
  text-shadow: 0.25rem -0.25rem 0 rgba( 255, 0, 255, 0.75),
               -0.25rem -0.25rem 0 rgba( 0, 255, 255, 0.75),
               0 0.5rem 0 rgba( 255, 255, 0, 0.75);
  font-size: 42px;
  text-align: center;
}

.contact-icons {
  text-align: center;
}

.contact-icons a {
  text-decoration: none;
  color: black;
}

i {
  padding: 2px 8px;
}

i.mail:hover {
  transform: translate3d( 5px, -5px, 0 );
  border-radius: 20%;
  box-shadow: -5px 5px 3px #dddddd;
  background-color: #ffffff;
  color: #c71610;
}

i.twitter:hover {
  transform: translate3d( 5px, -5px, 0 );
  border-radius: 20%;
  box-shadow: -5px 5px 3px #dddddd;
  background-color: #ffffff;
  color: #0084b4;
}

i.linkedin:hover {
  transform: translate3d( 5px, -5px, 0 );
  border-radius: 20%;
  box-shadow: -5px 5px 3px #dddddd;
  background-color: #ffffff;
  color: #0077B5;
}

i.github:hover {
  transform: translate3d( 5px, -5px, 0 );
  border-radius: 20%;
  box-shadow: -5px 5px 3px #dddddd;
  background-color: #ffffff;
  color: #333;
}
